* {
  box-sizing: border-box !important;
  margin: 0;
}

body {
  background: $background;
  overflow-x: hidden;
  height: 100vh;
  margin: auto;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: $black;
}
