* {
  box-sizing: border-box !important;
  margin: 0;
}

body {
  background: $background;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}
