// Breakpoints
$layout-breakpoint-xlarge: 2000px;
$layout-breakpoint-large: 1440px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-xsmall: 481px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;
$gold: #d4964b;
$goldmobile: #f1a661;
$mobile-highlight: #393e46;
