// Breakpoints
$layout-breakpoint-xlarge: 1920px;
$layout-breakpoint-large: 1440px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-xsmall: 481px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;
$gold: #bf8041;
