.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  height: 80vh;
  max-width: 100%;
  gap: 100px;
  padding: 0 108px;
  h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  p {
    font-size: 22px;
    line-height: 3rem;
  }
  a {
    font-size: 22px;
    text-decoration: none;
    color: $black;
    font-weight: 400;
  }
  img {
    max-width: 50%;
  }
  .about-intro {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  .italic {
    font-style: italic;
    font-weight: 300;
  }
  .social-title {
    margin-top: 5rem;
  }
  .social-icon {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    flex-direction: row;
  }
  @media (max-width: $layout-breakpoint-large) {
    gap: 25px;
    justify-content: center;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 18px;
      line-height: 2rem;
    }
    a {
      font-size: 18px;
    }

    .social-title {
      margin-top: 0rem;
    }
    .social-icon {
      gap: 15px;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 72px;
    a {
      font-size: 15px;
    }
  }
  @media (max-width: $layout-breakpoint-small) {
    flex-direction: column;
    p {
      font-size: 16px;
    }
    h1 {
      text-align: center;
    }
    .social-icon {
      justify-content: center;
      gap: 20px;
    }
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    flex-direction: column;
    gap: 25px;
    padding: 0 12px;
    height: 80vh;
    img {
      display: none;
    }
    a {
      font-size: 22px;
    }
    .about-intro {
      margin-top: 5rem;
    }
    .social-icon {
      flex-direction: column;
      gap: 25px;
      text-align: center;
    }
  }
}
