.about-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  padding: 0 108px;
  justify-content: flex-start;
  & p {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  .about-intro {
    &.italic {
      font-style: italic;
    }
  }
}
