.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  height: 80vh;
  max-width: 100%;
  gap: 100px;
  padding: 0 108px;
  h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  p,
  a {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  a {
    text-decoration: none;
    color: $black;
    font-weight: 400;
    padding-bottom: 3px;
    background-image: linear-gradient(#24242a 0 0);
    background-position: 100% 100%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
  }
  a:hover {
    background-position: 0 100%;
    background-size: 2px 0%;
  }
  img {
    max-width: 50%;
  }
  .about-intro,
  .about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .italic {
    font-style: italic;
    font-weight: 300;
  }
  ul {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (max-width: $layout-breakpoint-large) {
    gap: 25px;
    justify-content: center;
    h1 {
      font-size: 3rem;
    }
    p,
    a {
      font-size: 1.8rem;
      line-height: 2rem;
    }
    ul {
      gap: 15px;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 72px;
    a {
      font-size: 1.6rem;
    }
  }
  @media (max-width: $layout-breakpoint-small) {
    flex-direction: column;
    p {
      font-size: 1.6rem;
    }
    h1 {
      text-align: center;
    }
    ul {
      justify-content: space-evenly;
      gap: 20px;
    }
    img {
      min-width: 100%;
    }
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    justify-content: flex-start;
    padding: 0 12px;
    margin-top: 2rem;
    a {
      font-size: 2.2rem;
    }
    ul {
      justify-content: flex-start;
      gap: 30px;
      margin-bottom: 5rem;
    }
  }
}
