.portfolio {
  padding: 4rem 2rem 0 2rem;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 5px;
  img {
    width: 100%;
    height: auto;
  }
}
