.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 1.2rem;
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    p {
      font-size: 8rem;
      font-weight: 700;
    }
    .btn {
      font-size: 3rem;
      font-weight: 600;
    }
    img {
      width: 600px;
    }
    .btn {
      display: inline-block;
      text-decoration: none;
      padding: 1rem;
      border-radius: 2rem;
      color: $black;
      background-color: $background;
      border: 3px solid $black;
      transition: 0.3s ease-in-out;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
    .btn:hover {
      color: $gold;
      background-color: $black;
    }
  }
}
@media (max-width: $layout-breakpoint-xsmall) {
  .not-found {
    .content {
      .btn {
        font-size: 2rem;
        font-weight: 600;
      }
      img {
        width: 300px;
      }
      .btn {
        padding: 0.7rem;
        border-radius: 0.9rem;
        color: $gold;
        background-color: $black;
      }
    }
  }
}
