nav {
  font-size: 1.7rem;
  height: 7rem;
  width: 100%;
  padding: 0 10.8rem;
  display: flex;
  justify-content: center;
  color: $black;
  transition: 0.3s all;
  &.sticky {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 200;
    background-color: $background;
    animation-duration: 0.3s;
    animation-name: smooth;
    position: sticky;
    top: 0;
  }
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 7.2rem;
    font-size: 1.6rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding: 0 1.2rem;
    font-size: 1.2rem;
  }
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 700;
      font-size: 3.6rem;
      letter-spacing: -1rem;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        letter-spacing: -0.8rem;
        flex: 4;
      }
    }
    .navigation {
      @media (min-width: $layout-breakpoint-xlarge) {
        li {
          font-size: 0.9vw;
        }
      }
      @media (max-width: $layout-breakpoint-medium) {
        display: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        list-style: none;
        margin: 0 4rem;
        a,
        .nav-logo {
          text-decoration: none;
          color: $black;
          white-space: nowrap;
        }
      }
    }
    ul a.active,
    .mobile-show a.active {
      color: $gold;
    }
    .mobile-show a.active {
      text-shadow: 1px 1px 2px $mobile-highlight;
    }
    .nav-logo {
      text-decoration: none;
      color: $black;
    }
    // Mobile menu
    .hamburger-icon {
      z-index: 200;
      width: 3.8rem;
      @media (min-width: 961px) {
        display: none;
      }
    }
  }
}
.mobile-hide {
  display: none;
}
.mobile-show {
  background: rgba(240, 239, 241, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  font-size: 13vw;
  z-index: 150;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  ul {
    display: flex;
    gap: 6rem;
    flex-direction: column;
    align-self: center;
    text-align: left;
  }
}
.mobile-show a {
  list-style: none;
  text-decoration: none;
  color: $black;
}
