.header {
  font-size: 1.8rem;
  height: 156px;
  display: flex;
  justify-content: center;
  padding: 0 108px;
  color: $black;
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 72px;
    font-size: 1.6rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding: 0 12px;
    height: 96px;
    font-size: 1.2rem;
  }
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 700;
      font-size: 3.6rem;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        flex: 4;
      }
    }
    nav {
      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        list-style: none;
        margin: 0 40px;
        a,
        .nav-logo {
          text-decoration: none;
          color: $black;
          white-space: nowrap;
        }
      }
    }
    nav a.active {
      color: $gold;
    }
    .nav-logo {
      text-decoration: none;
      color: $black;
    }
    .contact {
      @media (max-width: $layout-breakpoint-medium) {
        display: flex;
        flex-direction: row;
      }
      a {
        color: $black;
        white-space: nowrap;
        &:first-child {
          margin-right: 15px;
        }
        @media (max-width: $layout-breakpoint-small) {
          display: none;
        }
      }
    }
    // Mobile menu
    .hamburger-icon {
      z-index: 200;
      @media (min-width: $layout-breakpoint-small) {
        display: none;
      }
    }
  }
}
.mobile-hide {
  display: none;
}
.mobile-show {
  background: rgba(240, 239, 241, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  font-size: 4rem;
  z-index: 150;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
}
.mobile-show a {
  list-style: none;
  text-decoration: none;
  color: $black;
}
.mobile-show a.active {
  color: $gold;
}
.mobile-items {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
}
