/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url(../assets/fonts/HelveticaNeue.woff2) format('woff2');
}

@font-face {
  font-family: 'NeueMedium';
  src: local('NeueMedium'), url(../assets/fonts/NeueMedium.woff) format('woff');
}

/* Global styling */
body {
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto !important;
}
